
.navbar {
    background-color:var(--title-color-dark);
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: var( --mb-4);
    align-items: center;
  }
  .navbar.red-background {
    background: linear-gradient(to right, rgba(14, 122, 126, 0.4), rgba(124, 2, 2, 0.4));
    transition: background 0.4s ;
  }
  
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-item {
    margin-right: var(--mb-0-75);
  }
  
  .navbar-link {
    color:#fff;
    text-decoration: none;
    padding: var(--big-font-size);
    font-size: var(--h3-font-size);
  }
  
  .navbar-link:hover {
    background-color: var(--bg-color);
    color: var(--title-color-dark);
    font-weight: bold;
  }
  
  .navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
  
  .navbar-logo img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  