.navbar {
  background-color: var(--titles-color);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  align-items: center;
}

.navbar.red-background {
  background: linear-gradient(to right, rgba(16, 211, 211, 0.3), rgba(236, 145, 8, 0.5));
  transition: background 0.4s;
  color: var(--bg-color);
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-item {
  margin-right: var(--mb-0-75);
}

.navbar-link {
  color: var(--bg-color);
  text-decoration: none;
  font-weight: bold;
  padding: var(--big-font-size);
  font-size: var(--h3-font-size);
}

.navbar-link:hover {
  background: linear-gradient(to right, rgba(236, 170, 29, 0.4), rgba(255, 137, 2, 0.4));
  color: var(--text-color);
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.navbar-logo img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}